{
  "env": {
    "browser": true,
    "es2021": true
  },
  // "extends": ["eslint:recommended", "prettier", "plugin:prettier/recommended"],
  "extends": ["eslint:recommended", "prettier"],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "rules": {
    "no-unused-vars": 1
  },
  "globals": {
    "module": true,
    "__dirname": true,
    "require": true,
    "process": true
  }
}
