/* DELETE THIS FILE */
@mixin color-h2 {
  color: salmon;
}

h2 {
  @include color-h2;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.contCat {
  width: 100px;
  height: 100px;
}
.contSvg {
  width: 100px;
  height: 100px;
}
